<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">

<head>
<title>DashBoard</title>
<script th:src="@{/layout/javascripts/Chart.js}"></script>
</head>

<body>
	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<h1>DashBoard</h1>
			</div>
		</div>

<div class="container-fluid">

		<canvas id="myChart" width="1000" height="400"></canvas>
</div>
		<script>
			var ctx = document.getElementById("myChart");
			var myChart = new Chart(ctx, {
				type : 'line',
				data : {
					labels : [ "30/09/2016", "30/10/2016", "11/11/2016",
							"14/11/2016", "21/11/2016", "21/12/2016" ],
					datasets : [ {
						label : '# Avaliações',
						data : [ 12, 19, 3, 5, 2, 3 ],
						backgroundColor : [ 'rgba(255, 99, 132, 0.2)',
								'rgba(54, 162, 235, 0.2)',
								'rgba(255, 206, 86, 0.2)',
								'rgba(75, 192, 192, 0.2)',
								'rgba(153, 102, 255, 0.2)',
								'rgba(255, 159, 64, 0.2)' ],
						borderColor : [ 'rgba(255,99,132,1)',
								'rgba(54, 162, 235, 1)',
								'rgba(255, 206, 86, 1)',
								'rgba(75, 192, 192, 1)',
								'rgba(153, 102, 255, 1)',
								'rgba(255, 159, 64, 1)' ],
						borderWidth : 1
					} ]
				},
				options : {
					scales : {
						yAxes : [ {
							ticks : {
								beginAtZero : true
							}
						} ]
					}
				}
			});
		</script>


	</section>
</body>
</html>